body {
}

.py-025 {
    padding-top: .05rem !important;
    padding-bottom: .05rem !important;
}

input.py-025 {
    padding-left: .1rem;
    padding-right: .1rem;
    text-align: center;
}

.py-05 {
    padding-top: .10rem !important;
    padding-bottom: .10rem !important;
}

.ms-05 {
  margin-left: .10rem !important;
}

.py-1-5 {
    padding-top: .40rem !important;
    padding-bottom: .40rem !important;
}

.mb-2-5 {
    margin-bottom: .75rem !important
}

.fs-7 {
    font-size: 0.85rem;
}

.all-row-modal {
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.low-line-height {
  line-height: 0.9;
}
.low-line-height::first-line {
  line-height: normal;
}

.odd-row {
    background-color: #eee;
}

.proteins-bg {
    background-color: #ecf4fc;
}

.fats-bg {
    background-color: #fdfcec;
}

.carbs-bg {
    background-color: #fdf3f3;
}

.kcal-bg {
    background-color: #e8f7f5;
}

.stat-in-mg {
    width: 4.5rem;
    margin-left: 0.1rem;
    margin-right: -0.2rem;
    padding-right: 0.2rem;
}

.stat-proteins-outline {
    outline: #8c96c5 solid 0.18rem;
}

.total-stat {
    cursor: pointer;
}

.total-stat:hover {
    color: white;
}

.total-proteins:hover {
    background: #8c96c5;
}

.stat-fats-outline {
    outline: #d1a53e solid 0.18rem;
}

.total-fats:hover {
    background: #d1a53e;
}

.stat-carbs-outline {
    outline: #d19898 solid 0.18rem;
}

.total-carbs:hover {
    background: #d19898;
}

.stat-kcal-outline {
    outline: #5ea9a2 solid 0.18rem;
}

.total-kcal:hover {
    background: #5ea9a2;
}

#add-meal-group {
    background: linear-gradient(45deg, rgb(136, 83, 156) 14%, rgb(238, 112, 112) 54%, rgb(237, 242, 208) 86%);
    cursor: pointer;
}

.add-highlight {
    background-color: #f2fff2;
    outline: #f2fff2 solid 0.5rem;
}

.deleted-highlight {
    background-color: #fff2f2;
    outline: #fff2f2 solid 1rem;
}

.opacity-65 {
    opacity: .65 !important;
}

.portion-input {
    max-width: 4rem !important;
}

.pe-cursor {
    cursor: pointer;
}

.btn-primary:disabled {
    border: 1px solid #afafaf;
    background-color: #cccccc;
    color: #666666;
}

.w-15 {
    max-width: 15rem;
}

.subtle-link {
    opacity: 0.6;
    cursor: pointer;
}

.subtle-link:hover {
    text-decoration: underline;
    opacity: 0.75;
}

.user-selected, .user-selected:hover {
    background-color: rgba(13, 110, 253, 0.2) !important;
    border-radius: 0.25rem !important;
}


html {
    font-size: calc(min(12px, 5px + max(0px, (100vw - 200px) / 40)));
}

.hide-on-mobile {
    display: none;
}

.w-15 {
    max-width: 22rem;
}


/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 574px) {
    .w-sm-20 {
        width: 20% !important;
    }
    .w-sm-50 {
        width: 50% !important;
    }
    .fs-sm-5 {
        font-size: 1.25rem !important;
    }
    .mnw-sm-3 {
        min-width: 3rem !important;
    }
    .mnw-sm-4 {
        min-width: 4rem !important;
    }
    .mnw-sm-4-5 {
        min-width: 4.5rem !important;
    }
    .mnw-sm-6 {
        min-width: 6rem !important;
    }
    .ms-sm-1-5 {
        margin-left: .40rem !important
    }
    .ms-sm-2-5 {
        margin-left: .75rem !important
    }
    html {
        font-size: 12px;
    }
    .w-15 {
        max-width: 22rem;
    }
    .hide-on-mobile {
        display: inherit;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .w-md-20 {
        width: 20% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .fs-md-5 {
        font-size: 1.25rem !important;
    }
    .fs-md-4 {
        font-size:calc(1.275rem + .3vw)!important;
    }
    .mnw-md-3 {
        min-width: 3rem !important;
    }
    .mnw-md-4 {
        min-width: 4rem !important;
    }
    .mnw-md-4-5 {
        min-width: 4.5rem !important;
    }
    .mnw-md-6 {
        min-width: 6rem !important;
    }
    .ms-md-1-5 {
        margin-left: .40rem !important
    }
    .ms-md-2-5 {
        margin-left: .75rem !important
    }
    html {
        font-size: 13px;
    }
    .w-15 {
        max-width: 21rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .w-lg-20 {
        width: 20% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
    .fs-lg-5 {
        font-size: 1.25rem !important;
    }
    .fs-lg-4 {
        font-size:calc(1.275rem + .3vw)!important;
    }
    .mnw-lg-3 {
        min-width: 3rem !important;
    }
    .mnw-lg-4 {
        min-width: 4rem !important;
    }
    .mnw-lg-4-5 {
        min-width: 4.5rem !important;
    }
    .mnw-lg-6 {
        min-width: 6rem !important;
    }
    .ms-lg-1-5 {
        margin-left: .40rem !important
    }
    .ms-lg-2-5 {
        margin-left: .75rem !important
    }
    html {
        font-size: 14px;
    }
    .w-15 {
        max-width: 19rem;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .w-xl-20 {
        width: 20% !important;
    }
    .w-xl-50 {
        width: 50% !important;
    }
    .fs-xl-5 {
        font-size: 1.25rem !important;
    }
    .fs-xl-4 {
        font-size:calc(1.275rem + .3vw)!important;
    }
    .mnw-xl-3 {
        min-width: 3rem !important;
    }
    .mnw-xl-4 {
        min-width: 4rem !important;
    }
    .mnw-xl-4-5 {
        min-width: 4.5rem !important;
    }
    .mnw-xl-6 {
        min-width: 6rem !important;
    }
    .ms-xl-1-5 {
        margin-left: .40rem !important
    }
    .ms-xl-2-5 {
        margin-left: .75rem !important
    }
    html {
        font-size: 15px;
    }
    .w-15 {
        max-width: 17rem;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    .w-xxl-20 {
        width: 20% !important;
    }
    .w-xxl-50 {
        width: 50% !important;
    }
    .fs-xxl-5 {
        font-size: 1.25rem !important;
    }
    .fs-xxl-4 {
        font-size:calc(1.275rem + .3vw)!important;
    }
    .mnw-xxl-3 {
        min-width: 3rem !important;
    }
    .mnw-xxl-4 {
        min-width: 4rem !important;
    }
    .mnw-xxl-4-5 {
        min-width: 4.5rem !important;
    }
    .mnw-xxl-6 {
        min-width: 6rem !important;
    }
    .ms-xxl-1-5 {
        margin-left: .40rem !important
    }
    .ms-xxl-2-5 {
        margin-left: .75rem !important
    }
    html {
        font-size: 16px;
    }
    .w-15 {
        max-width: 15rem;
    }
}


