<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Fit Tracker</title>

{#  <link rel="icon" type="image/svg+xml" href="/img/logo-circle.svg">#}

  <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="/static/style.css">

  <script src="https://unpkg.com/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  <script src="https://unpkg.com/tippy.js@6.3.7/dist/tippy-bundle.umd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4/build/global/luxon.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="https://npmcdn.com/flatpickr/dist/l10n/ru.js"></script>
</head>



<body>
<nav class="navbar bg-dark text-white">
    <div class="container" style="min-height: 50px">
        <div class="d-flex align-items-center">
            <div class="fs-3">Вес</div>
        </div>

        <div class="d-flex">
            <i class="fa-solid fa-circle-user text-white fs-1"></i>
        </div>
    </div>
</nav>

<div class="container">
    <h2 class="my-3">Приёмы пищи</h2>

    <div id="eating"></div>
</div>


</body>


<script>

async function _fetch(url) {
    const response = await fetch(url);
    if (!response.ok) {
        throw new Error('Failed to fetch meals');
    }
    return await response.json();
}

async function fetchData() {
    const meals = await _fetch('/api/meals');
    const meal_groups = await _fetch('/api/meal_groups');
    const foods = await _fetch('/api/foods');
    const dishes = await _fetch('/api/dishes');

    console.log(meals);
    console.log(meal_groups);
    console.log(foods);
    console.log(dishes);

    let meals_html = ``;

    for (let m of meals) {
        let showing_name = null;
        if (m.dish_id !== null) {
            for (let d of dishes) {
                if (d.id === m.dish_id) {
                    showing_name = d.name;
                }
            }
        } else if (m.food_id !== null) {
            for (let d of foods) {
                if (d.id === m.food_id) {
                    showing_name = d.name;
                }
            }
        }

        if (showing_name === null) {
            continue;
        }

        let amount = m.amount;

        meals_html += `
        <div class="d-flex justify-content-between">
            <div>${showing_name}</div>
            <div>${amount} g</div>
        </div>
        `;
    }


    document.getElementById('eating').innerHTML = `
    <div class="border border-black border-2 rounded-2 py-2 px-3 fs-4">
        <div>${meal_groups[0].meal_name}</div>
        <hr>
        ${meals_html}

    </div>
    `;
}

// Function to process the retrieved meals
function processMeals(meals) {
  // Get the container element where the meals will be displayed
  const mealContainer = document.getElementById('meal-container');

  // Clear any existing content in the container
  mealContainer.innerHTML = '';

  // Iterate over each meal and create HTML elements to display them
  meals.forEach(meal => {
    const mealElement = document.createElement('div');
    mealElement.textContent = meal.name;
    // Add other relevant meal details to the element

    mealContainer.appendChild(mealElement);
  });
}

// Call the fetchMeals function when the page loads or when needed
window.addEventListener('load' , e => {
    fetchData();
})
</script>


</html>
