<!DOCTYPE html>
<html lang="en">
{% include 'head.html' with context %}

<body>
<nav class="navbar bg-dark text-white">
    <div class="container" style="min-height: 50px">
        <div class="d-flex align-items-center">
            <div class="fs-3">Вес</div>
        </div>

        <div class="d-flex">
            <i class="fa-solid fa-circle-user text-white fs-1"></i>
        </div>
    </div>
</nav>

<div class="container">
    <div id="under-eating" class="d-flex justify-content-between">
        <h2 class="my-3">Приёмы пищи</h2>
        <div id="current-date"></div>
    </div>
    <div id="eating"></div>
    <div id="add-meal-group"
         class="border border-black border-2 rounded-2 text-center bg-dark text-white fs-2 fw-bold">
        <i class="fa-solid fa-plus stretched"></i>
    </div>
</div>
</body>


<script>
let allMealOrders = null;
let allFoods = null;
let allDishes = null;

const mealGroupMap = {};
const mealMap = {};

let currentMealsGroups;

async function fetchData() {
    if (allMealOrders == null) {
        allMealOrders = mapToId(await _fetch('/api/meal_orders'));
    }
    if (allFoods == null) {
        allFoods = mapToId(await _fetch('/api/foods'));
    }
    if (allDishes == null) {
        allDishes = mapToId(await _fetch('/api/dishes'));
    }

    let currDateStr = currentDate.toFormat('yyyy-MM-dd');
    currentMealsGroups = await _fetch(`/api/get_meals_for_day?user=tanuki&date=${currDateStr}`);

    for (let mg of currentMealsGroups) {
        let mgId = mg.id;
        mealGroupMap[mgId] = mg;

        const mealsForMealGroup = await _fetch(`/api/get_meals_for_meal_group?id=${mgId}`);
        mg.api_meals = mealsForMealGroup;
        for (let m of mealsForMealGroup) {
            mealMap[m.id] = m;
        }
    }

    let allMealsGroupsHtml = ``;
    for (let mg of currentMealsGroups) {
        let currentMealGroupHtml = ``;

        for (let m of mg.api_meals) {
            let showing_name = null;
            if (m.dish_id !== null) {
                showing_name = allDishes[m.dish_id].name;
            } else if (m.food_id !== null) {
                showing_name = allFoods[m.food_id].name;
            }
            if (showing_name === null) {
                continue;
            }

            let amount = m.amount;

            currentMealGroupHtml += `
            <div class="d-flex justify-content-between">
                <div>${showing_name}</div>
                <div>${amount} g</div>
            </div>
            `;
        }

        let mealName = mg.meal_name;
        if (mealName == null) {
            mealName = allMealOrders[mg.meal_order_id].name;
        }

        allMealsGroupsHtml += `
        <div class="border border-black border-2 rounded-2 py-2 px-3 fs-4 mb-4">
            <div>${mealName}</div>
            <hr class="my-1">
            ${currentMealGroupHtml}
        </div>
        `;
    }
    document.getElementById('eating').innerHTML = allMealsGroupsHtml;
}

// Function to process the retrieved meals
function processMeals(meals) {
  // Get the container element where the meals will be displayed
  const mealContainer = document.getElementById('meal-container');

  // Clear any existing content in the container
  mealContainer.innerHTML = '';

  // Iterate over each meal and create HTML elements to display them
  meals.forEach(meal => {
    const mealElement = document.createElement('div');
    mealElement.textContent = meal.name;
    // Add other relevant meal details to the element

    mealContainer.appendChild(mealElement);
  });
}


function setupDate() {
    let currDateStr = currentDate.toFormat('d MMMM');

    let arrowBackward = `
    <span id='go-to-prev-day'>
        <i class="fa-solid fa-arrow-left"></i>
    </span>`;

    let arrowForward = '';
    if (!nowDate.hasSame(currentDate, 'day')) {
        arrowForward  = `
        <span id='go-to-next-day'>
            <i class="fa-solid fa-arrow-right"></i>
        </span>`;
    }

    byId('current-date').innerHTML = `
    ${arrowBackward}
    <span class="fs-5 mx-2">${currDateStr}</span>
    ${arrowForward}
    `;

    byId('go-to-prev-day')?.addEventListener('click', () => {
        currentDate = shiftDateByOneDay(currentDate, false);
        setupWindow();
    });

     byId('go-to-next-day')?.addEventListener('click', () => {
        currentDate = shiftDateByOneDay(currentDate, true);
        setupWindow();
    });
}

const setupWindow = () => {
    setupDate();
    fetchData();
}

// Call the fetchMeals function when the page loads or when needed
window.addEventListener('load' , setupWindow);


const addMealGroup = () => {
console.log(123)
};

</script>

{% include 'parts/add-meal-group.html' %}

</html>
