
<div id="wrapper-edit-meal-group-modal"></div>



<script>

    const editMealGroupModal = new Modal('edit-meal-group', 'Редактировать приём пищи', true, true, false);
    editMealGroupModal.hideCrossOnMobile();
    editMealGroupModal.cancelButton.innerText = "Назад";

    editMealGroupModal.onClose(() => {
        //currEditingMealGroup = null;
        renderMealGroups();
        editMealGroupModal.titleMoveButton.disabled = false;
        editMealGroupModal.titleCopyButton.disabled = false;
    });

    editMealGroupModal.deleteButton.addEventListener("click", () => {
        deleteMealGroup(currEditingMealGroup.id);
    });

    onClick(editMealGroupModal.titleMoveButton, () => {
        moveMealsToMealGroup();
    });

    onClick(editMealGroupModal.titleCopyButton, () => {
        copyMealsToMealGroup();
    });

    onClick(editMealGroupModal.titleDeleteButton, () => {
        deleteMealGroupFromMeal();
    });

    onClick(editMealGroupModal.titleCancelButton, () => {
        cancelMealSelection();
    });


    /** @type {MealGroup} */
    let currEditingMealGroup = null;

    const addMealToMealGroup = async () => {

        let foodId = null;
        let dishId = null;

        let chosenMeal = byId('editMealGroupModal-select').value;
        if (!chosenMeal) {
            return;
        }

        if (chosenMeal.startsWith("FOOD_")) {
            foodId = parseInt(chosenMeal.substring(5));
        }
        if (chosenMeal.startsWith("DISH_")) {
            dishId = parseInt(chosenMeal.substring(5));
        }
        if (foodId == null && dishId == null) {
            return;
        }

        let chosenAmount = handleNumberField('editMealGroupModal-text', 0, 9999, true, null, true);
        if (chosenAmount == null) {
            return;
        }

        let result = await _post("/api/meal/new", {
            food_id: foodId,
            dish_id: dishId,
            amount: chosenAmount,
            meal_group_id: currEditingMealGroup.id,
        });

        if (result.id) {
            mealMap[result.id] = result;
        }

        await setEditMealGroupHtml();

    };

    const deleteMealFromMealGroup = async (event, mealId) => {
        event.stopPropagation();

        let result = await _delete("/api/meal/delete", {
            id: mealId
        });
        if (result) {
            delete mealMap[mealId];
        }
        await renderMeals();
    };

    const deleteMealGroup = async (mealGroupId) => {
        let result = await _delete("/api/meal_group/delete", {
            id: mealGroupId
        });
        if (result) {
            delete mealGroupMap[mealGroupId];
        }
        currentMealsGroups = currentMealsGroups.filter(e => e.id !== mealGroupId);
        editMealGroupModal.hide();
    };

    const moveMealsToMealGroup = async () => {
        if (currEditingMealGroup == null) {
            return;
        }

        let items = getSelectedItems(SelectionType.MEAL);
        if (items.length === 0) {
            return;
        }

        let result = await _post("/api/meal/move", {
            move_to_meal_group: currEditingMealGroup.id,
            meal_ids: items
        });

        if (result) {
            for (let meal of result) {
                mealMap[meal.id] = meal;
            }
        }

        await cancelMealSelection();
    }

    const copyMealsToMealGroup = async () => {
        if (currEditingMealGroup == null) {
            return;
        }

        let items = getSelectedItems(SelectionType.MEAL);
        if (items.length === 0) {
            return;
        }

        let result = await _post("/api/meal/duplicate", {
            move_to_meal_group: currEditingMealGroup.id,
            meal_ids: items
        });

        if (result) {
            for (let meal of result) {
                mealMap[meal.id] = meal;
            }
        }

        await cancelMealSelection();
    }

    const deleteMealGroupFromMeal = async () => {
        if (currEditingMealGroup == null) {
            return;
        }

        let items = getSelectedItems(SelectionType.MEAL);
        if (items.length === 0) {
            return;
        }

        let result = await _delete("/api/meal/delete_many", {
            meal_ids: items
        });

        if (result) {
            for (let mealId of result) {
                delete mealMap[mealId];
            }
        }

        await cancelMealSelection();
    }

    const cancelMealSelection = async () => {
        clearSelection(SelectionType.MEAL);
        editMealGroupModal.setupTitle(SelectionType.MEAL);
        await renderMeals()
        await fetchAndRenderMealGroups();
    };

    const setEditMealGroupHtml = async () => {
        if (!editMealGroupModal.isOpen()) {
            return;
        }

        let options = '';
        let elems = [];

        // Collect all valid foods
        for (let food of Object.values(allFoods)) {
            if (!food.is_deleted && !food.ingredient_only) {
                elems.push({
                    type: 'FOOD',
                    id: food.id,
                    name: food.name,
                    last_used: food.last_used || null
                });
            }
        }

        // Collect all valid dishes
        for (let dish of Object.values(allDishes)) {
            if (!dish.out_of_stock) {
                elems.push({
                    type: 'DISH',
                    id: dish.id,
                    name: getDishFullName(dish.id),
                    last_used: dish.last_used || null
                });
            }
        }

        // Sort the elements based on your criteria
        elems.sort((a, b) => {
            if (a.last_used && b.last_used) {
                // Both have last_used; sort by most recent date first
                const dateDiff = new Date(b.last_used) - new Date(a.last_used);
                if (dateDiff !== 0) {
                    return dateDiff;
                } else {
                    // Dates are the same; compare ids in decreasing order
                    return b.id - a.id;
                }
            } else if (a.last_used) {
                // Only 'a' has last_used; it comes before 'b'
                return -1;
            } else if (b.last_used) {
                // Only 'b' has last_used; it comes before 'a'
                return 1;
            } else {
                // Neither has last_used; sort by id in decreasing order
                return b.id - a.id;
            }
        });

        // Build the options string
        for (let elem of elems) {
            options += `
            <option value="${elem.type}_${elem.id}">${elem.name}</option>
            `;
        }

        let meals = await renderMealsHtml();

        editMealGroupModal.setHtml(`

            <div class="d-flex">
                <div class="input-group input-group-sm h-100 flex-fill">
                    <button class="btn btn-secondary" type="button" id="editMealGroupModal-start-edit-food">
                        <i class="fa-solid fa-pencil"></i>
                    </button>
                    <select class="form-select" id="editMealGroupModal-select">
                        <option value="" selected disabled></option>
                        ${options}
                    </select>
                    <input id="editMealGroupModal-text" type="text"
                        class="form-control text-center" placeholder="Кол-во"
                        style="min-width: 4rem;max-width: 4rem;">
                    <span class="input-group-text">гр.</span>
                </div>
                <button class="btn btn-primary"
                        onclick="addMealToMealGroup()">Добавить</button>
            </div>

            <div id="all-meals-list">${meals}</div>

        `)

        const match = (params, data) => {
            let query = params?.term ?? '';
            return SearchFilter.search([data], e => e.text, query)[0] ?? null;
        }

        $('#editMealGroupModal-select').select2({
            theme: 'bootstrap-5',
            placeholder: "Выбрать пищу",
            dropdownParent: $(`#${editMealGroupModal.modalId}`),
            matcher: match,
        });

        fixSelect2(true);

        byId('editMealGroupModal-text').addEventListener('input', () => {
            handleNumberField('editMealGroupModal-text', 0, 9999, true, null, true);
        });

        byId('editMealGroupModal-start-edit-food').addEventListener('click', () => {
            editMealGroupModal.hide();
            editFoodModal.show();
        })

        $('#editMealGroupModal-select').on('change', function (e) {

            let value = e.currentTarget.value;
            if (value.startsWith("FOOD_")) {
                let foodId = value.substring(5);
                let food = allFoods[foodId];
                if (food.portion_size) {
                    let amountField = byId('editMealGroupModal-text');
                    let amount = amountField.value;
                    if (!amount) {
                        amountField.value = food.portion_size;
                    }
                }
            }

        });
    };

    const renderMealsHtml = async () => {
        /** @type {Meal[]} */
        const mealsForMealGroup = await _fetch(`/api/get_meals_for_meal_group?id=${currEditingMealGroup.id}`);
        mealGroupMap[currEditingMealGroup.id].api_meals = mealsForMealGroup;

        if (mealsForMealGroup.length > 0) {
            hideElem(editMealGroupModal.deleteButton.id);
        } else {
            showElem(editMealGroupModal.deleteButton.id);
        }

        renderMealGroups();

        const autoSelectMealFood = (meal) => {
            let val = '';
            if (meal.dish_id) {
                val = `DISH_${meal.dish_id}`;
            } else if (meal.food_id) {
                val = `FOOD_${meal.food_id}`;
            }
            $('#editMealGroupModal-select').val(val).trigger('change');
        };

       const renderMeal = (m) => {
            let name = '';
            if (m.dish_id) {
                name = getDishFullName(m.dish_id);
            } else if (m.food_id) {
                name = allFoods[m.food_id].name;
            }
            return `<div class='me-2 w-100 d-flex justify-content-between align-items-center'>
                    <span>${name}</span>
                    <span>${m.amount}&nbsp;гр.</span>
                    </div>`
        };

       const checkSelectionTitle = () => {
           editMealGroupModal.setupTitle(SelectionType.MEAL);

            if (isSelectionActive(SelectionType.MEAL)) {
                let isAllInCurrentGroup = true;
                for (let mealId of getSelectedItems(SelectionType.MEAL)) {
                    console.log(mealMap[mealId])
                    console.log(currEditingMealGroup.id)
                    if (mealMap[mealId].meal_group_id !== currEditingMealGroup.id) {
                        isAllInCurrentGroup = false;
                        break;
                    }
                }
                console.log('isAllInCurrentGroup ' + isAllInCurrentGroup)
                if (isAllInCurrentGroup) {
                    editMealGroupModal.titleMoveButton.disabled = true;
                    editMealGroupModal.titleCopyButton.disabled = true;
                    showElem(editMealGroupModal.titleDeleteButton);
                    hideElem(editMealGroupModal.titleCancelButton);
                } else {
                    editMealGroupModal.titleMoveButton.disabled = false;
                    editMealGroupModal.titleCopyButton.disabled = false;
                    hideElem(editMealGroupModal.titleDeleteButton);
                    showElem(editMealGroupModal.titleCancelButton);
                }
            }
       };

        let meals = ``;
        for (let meal of mealsForMealGroup) {

            let mealId = meal.dish_id ? `MEAL_DISH_${meal.dish_id}` : `MEAL_FOOD_${meal.food_id}`;
            mealId += `_${meal.id}`;
            let mealIdInner = mealId + '_inner';
            setTimeout(() => {
                let obj = byId(mealId);

                let longPressed = false;

                onClick(obj, () => {
                    if (longPressed) {
                        longPressed = false;
                        return;
                    }
                    if (isSelectionActive(SelectionType.MEAL)) {
                        selectItem(SelectionType.MEAL, meal.id);
                        setupSelection();
                    } else {
                        autoSelectMealFood(meal);
                    }
                });

                setupLongPress(obj, () => {
                    longPressed = true;
                    selectItem(SelectionType.MEAL, meal.id);
                    setupSelection();
                });

                const setupSelection = () => {
                    if (isItemSelected(SelectionType.MEAL, meal.id)) {
                        byId(mealIdInner).classList.add('user-selected');
                    } else {
                        byId(mealIdInner).classList.remove('user-selected');
                    }

                    checkSelectionTitle();
                };

                setupSelection();
            });

            const showDeleteButton = false;
            meals = `
            ${
               HtmlPresets.makeRow(`
                ${renderMeal(meal)}

                ${showDeleteButton ? `
                <button class="btn btn-sm btn-danger"
                    onclick="deleteMealFromMealGroup(event, ${meal.id})">Удалить</button>
                ` : ''}
                `,
                {fs: 6, ps: 2, id: mealId, innerId: mealIdInner})
            }
            ` + meals;
        }

        // in case 0 meals in group
        setTimeout(checkSelectionTitle);

        if (meals) {
            meals = `<hr class="my-3">` + meals;
        }

        return meals;
    };

    const renderMeals = async () => {
        byId('all-meals-list').innerHTML = await renderMealsHtml();
    };

    const startEditMealGroupById = async (mealGroupId) => {
        await startEditMealGroup(mealGroupMap[mealGroupId]);
    };

    const startEditMealGroup = async (mealGroup) => {
        editMealGroupModal.show();
        currEditingMealGroup = mealGroup;

        await setEditMealGroupHtml();
    };

    function fixSelect2(setWidth=true) {
        for (let e of document.getElementsByClassName('select2-selection')) {
            if (setWidth) {
                e.classList.add('w-15');
            }
            e.classList.add('px-0');
        }
        for (let e of document.getElementsByClassName('select2-container')) {
            if (setWidth) {
                e.classList.add('w-15');
            }
            e.classList.add('px-0');
        }
    }
</script>
