
<div id="wrapper-edit-food-modal"></div>



<script>

    const editFoodModal = new Modal('edit-food', 'Редактировать еду', true, true, false);
    editFoodModal.cancelButton.innerText = "Назад";

    {
        const rootId = editFoodModal.modalId;

        const addFoodNameId = `${rootId}-add-food-name`;
        const addProteinsId = `${rootId}-add-food-proteins`;
        const addFatsId = `${rootId}-add-food-fats`;
        const addCarbsId = `${rootId}-add-food-carbs`;
        const addKcalId = `${rootId}-add-food-kcal`;
        const addFoodPortionSizeId = `${rootId}-add-food-addFoodPortionSizeId`;
        const addFoodButtonId = `${rootId}-add-food-button`;

        const addDishNameId = `${rootId}-add-dish-name`;
        const editDishNameId = `${rootId}-editDishNameId`;
        const editDishFoodListId = `${rootId}-editDishFoodListId`;
        const editDishRecipeInputId = `${rootId}-editDishRecipeInputId`;
        const editDishFoodListSelectId = `${rootId}-editDishFoodListSelectId`;
        const editDishOutOfStockId = `${rootId}-editDishOutOfStockId`;
        const editDishAddNewBtnId = `${rootId}-editDishAddNewBtnId`;
        const editDishAmountInputId = `${rootId}-editDishAmountInputId`;
        const editDishGetBackId = `${rootId}-editDishGetBackId`;
        const addDishButtonId = `${rootId}-add-dish-button`;

        const searchFoodId = `${rootId}-search-food`;
        const allFoodsId = `${rootId}-all-foods`;

        const searchDishId = `${rootId}-search-dish`;
        const allDishesId = `${rootId}-all-dishes`;

        const foodTabButtonId = `${rootId}-food-tab-btn`;
        const dishTabButtonId = `${rootId}-dish-tab-btn`;
        const foodTabId = `${rootId}-food-tab`;
        const dishTabId = `${rootId}-dish-tab`;

        const foodSearchTabButtonId = `${rootId}-foodSearchTabButtonId`;
        const foodAddTabButtonId = `${rootId}-foodAddTabButtonId`;
        const foodDeleteTabButtonId = `${rootId}-foodDeleteTabButtonId`;
        const foodSearchTabRadioId = `${rootId}-foodSearchTabRadioId`;
        const foodAddTabRadioId = `${rootId}-foodAddTabRadioId`;
        const foodDeleteTabRadioId = `${rootId}-foodDeleteTabRadioId`;
        const foodAddSectionId = `${rootId}-foodAddSectionId`;

        const newDishTab = `${rootId}-newDishTab`;
        const editDishTab = `${rootId}-editDishTab`;

        editFoodModal.onClose(() => {
            startEditMealGroup(currEditingMealGroup);
            searchFoodMode = true;
            addingFoodMode = false;
            deletingFoodMode = false;
        });

        let searchFoodMode = true;
        let addingFoodMode = false;
        let deletingFoodMode = false;

        editFoodModal.onOpen(() => {

            editFoodModal.setHtml(`
            <div class="btn-group w-100" role="group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label id=${foodTabButtonId}  class="btn btn-outline-primary w-50 py-05" for="btnradio1">Еда</label>

                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label id=${dishTabButtonId} class="btn btn-outline-primary w-50 py-05" for="btnradio2">Блюдо</label>
            </div>

            <div id="${foodTabId}">

                <hr>

                <div class="btn-group fs-4 w-100 mb-3">
                    <input type="radio" class="btn-check" name="btnfoodsearch" id="${foodSearchTabRadioId}" autocomplete="off" checked>
                    <label id=${foodSearchTabButtonId}  class="btn btn-outline-primary w-50 py-05" for="${foodSearchTabRadioId}">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </label>

                    <input type="radio" class="btn-check" name="btnfoodsearch" id="${foodAddTabRadioId}" autocomplete="off">
                    <label id=${foodAddTabButtonId} class="btn btn-outline-primary w-50 py-05" for="${foodAddTabRadioId}">
                        <i class="fa-solid fa-plus"></i>
                    </label>

                    <input type="radio" class="btn-check" name="btnfoodsearch" id="${foodDeleteTabRadioId}" autocomplete="off">
                    <label id=${foodDeleteTabButtonId} class="btn btn-outline-primary w-50 py-05" for="${foodDeleteTabRadioId}">
                        <i class="fa-solid fa-trash"></i>
                    </label>
                </div>

                <div id="${foodAddSectionId}" class="d-none add-highlight">
                    <h5>Новая еда</h5>

                    <div class="input-group mb-2-5">
                         <input id="${addFoodNameId}" type="text" class="form-control" placeholder="Название">
                         <span class="input-group-text py-025">1шт</span>
                         <input id="${addFoodPortionSizeId}" type="text" class="form-control portion-input text-center" placeholder="Вес">
                    </div>

                    <div class="d-flex">
                        <div class="input-group">
                          <span class="input-group-text py-025 proteins-bg">Б</span>
                          <input id="${addProteinsId}" type="text" class="form-control py-025" placeholder="0">
                          <span class="input-group-text py-025 fats-bg">Ж</span>
                          <input id="${addFatsId}" type="text" class="form-control py-025" placeholder="0">
                          <span class="input-group-text py-025 carbs-bg">У</span>
                          <input id="${addCarbsId}" type="text" class="form-control py-025" placeholder="0">
                          <span class="input-group-text py-025 kcal-bg">Кк</span>
                          <input id="${addKcalId}" type="text" class="form-control py-025" placeholder="0">
                        </div>
                        <button id="${addFoodButtonId}" class="btn btn-primary ms-2 py-025" disabled>Добавить</button>
                    </div>

                    <hr>
                </div>



                <h5>Добавленная еда</h5>

                <div class="input-group mb-3">
                  <span class="input-group-text">
                      <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
                  <input id="${searchFoodId}" type="text" class="form-control" placeholder="Искать по названию">
                </div>

                <div id="${allFoodsId}"></div>
            </div>

            <div id="${dishTabId}" class="d-none">
                <hr>

                <div id=${newDishTab}>
                    <h5>Новое блюдо</h5>
                    <div class="d-flex">
                        <div class="input-group">
                          <input id="${addDishNameId}" type="text" class="form-control" placeholder="Название">
                        </div>
                        <button id="${addDishButtonId}" class="btn btn-primary ms-2 py-025" disabled>Добавить</button>
                    </div>

                    <hr>

                    <h5>Добавленные блюда</h5>

                    <div class="input-group mb-3">
                      <span class="input-group-text">
                          <i class="fa-solid fa-magnifying-glass"></i>
                      </span>
                      <input id="${searchDishId}" type="text" class="form-control" placeholder="Искать по названию">
                    </div>

                    <div id="${allDishesId}"></div>

                </div>
                <div id=${editDishTab} class="d-none">

                    <div class="d-flex justify-content-between align-items-start">
                        <h5>Редактировать блюдо</h5>
                        <h6 id="${editDishGetBackId}" class="subtle-link" style="margin-top: -0.5rem;margin-right: 0.5rem;">Вернуться <i class="fa-solid fa-arrow-right"></i></h6>
                    </div>


                    <div id=${editDishFoodListId}></div>

                </div>




            </div>
            `);

            onClick(foodTabButtonId, () => {
                showElem(foodTabId);
                hideElem(dishTabId);
            });

            onClick(dishTabButtonId, () => {
                hideElem(foodTabId);
                showElem(dishTabId);
            });

            onClick(editDishGetBackId, e => {
                currentEditingDishId = null;
                showElem(newDishTab);
                hideElem(editDishTab);
                renderDishes();
            });

            const _checkFoodTabVisibility = () => {
                if (addingFoodMode) {
                    showElem(foodAddSectionId);
                } else {
                    hideElem(foodAddSectionId);
                }
            };

            onClick(foodSearchTabButtonId, () => {
                searchFoodMode = true;
                addingFoodMode = false;
                deletingFoodMode = false;
                _checkFoodTabVisibility();
                renderFoods();
            });

            onClick(foodAddTabButtonId, () => {
                searchFoodMode = false;
                addingFoodMode = true;
                deletingFoodMode = false;
                _checkFoodTabVisibility();
                renderFoods();
            });

            onClick(foodDeleteTabButtonId, () => {
                searchFoodMode = false;
                addingFoodMode = false;
                deletingFoodMode = true;
                _checkFoodTabVisibility();
                renderFoods();
            });


            onInput(searchFoodId, renderFoods);
            onInput(searchDishId, renderDishes);
            renderFoods();
            renderDishes();


            const calcCalories = (proteins, fats, carbs) => {
                return Math.round(proteins * 4 + fats * 9 + carbs * 4);
            };


            const checkAddFoodButton = autoCalcKcal => {
                let name = byId(addFoodNameId).value.trim();
                let proteins = handleFloatField(addProteinsId, 0, 100, true);
                let fats = handleFloatField(addFatsId, 0, 100, true);
                let carbs = handleFloatField(addCarbsId, 0, 100, true);

                let kcal;
                if (autoCalcKcal && proteins != null && fats != null && carbs != null) {
                    let calculatedKcal = calcCalories(proteins, fats, carbs);
                    byId(addKcalId).value = calculatedKcal + '';
                    kcal = handleNumberField(addKcalId, calculatedKcal, calculatedKcal);
                } else {
                    kcal = handleNumberField(addKcalId, 0, 999);
                }

                handleNumberField(addFoodPortionSizeId, 0, 9999);

                byId(addFoodButtonId).disabled =
                    !(name.length && proteins != null && fats != null && carbs != null && kcal != null);
            };

            let fields = [
                addFoodNameId,
                addProteinsId,
                addFatsId,
                addCarbsId,
                addKcalId,
                addFoodPortionSizeId
            ];

            let autoCalcKcalOnFields = [
                addProteinsId,
                addFatsId,
                addCarbsId,
            ];

            for (let field of fields) {
                let autoCalcKcal = autoCalcKcalOnFields.includes(field);
                onInput(field, () => checkAddFoodButton(autoCalcKcal));
            }

            onClick(addFoodButtonId, async () => {
                let name = byId(addFoodNameId).value.trim();
                let proteins = handleFloatField(addProteinsId, 0, 100, true);
                let fats = handleFloatField(addFatsId, 0, 100, true);
                let carbs = handleFloatField(addCarbsId, 0, 100, true);
                let kcal = handleNumberField(addKcalId, 0, 999);
                let portion = handleNumberField(addFoodPortionSizeId, 0, 9999);

                byId(addFoodButtonId).disabled = true;

                let result = await _post("/api/food/new" ,{
                    name: name,
                    proteins: proteins,
                    fats: fats,
                    carbs: carbs,
                    kcal: kcal,
                    portion_size: portion,
                });

                if (result.id) {
                    allFoods[result.id] = result;
                }

                for (let field of fields) {
                    byId(field).value = "";
                }

                renderFoods();
                renderEditDish();
            });

            const checkAddDishButton = () => {
                let name = byId(addDishNameId).value.trim();
                byId(addDishButtonId).disabled = !(name.length);
            };

            for (let field of [addDishNameId]) {
                onInput(field, checkAddDishButton);
            }

            onClick(addDishButtonId, async () => {
                let name = byId(addDishNameId).value.trim();

                byId(addDishButtonId).disabled = true;

                let result = await _post("/api/dish/new" ,{
                    name: name,
                });

                if (result.id) {
                    allDishes[result.id] = result;
                }

                for (let field of [addDishNameId]) {
                    byId(field).value = "";
                }

                renderDishes();
            });
        });

        const renderFoods = () => {

            let search = byId(searchFoodId).value.toLowerCase().trim();

            let foodButtonKey = `data-ft-food-btn-id`;
            let foodReviveButtonKey = `data-ft-food-foodReviveButtonKey`;
            let foodDeleteButtonKey = `data-ft-food-foodDeleteButtonKey`;
            let foodNameIdKey = `data-ft-food-name-id`;
            let foodPortionSizeIdKey = `data-ft-food-foodPortionSizeIdKey-id`;
            let foodProteinsIdKey = `data-ft-food-proteins-id`;
            let foodFatsIdKey = `data-ft-food-fats-id`;
            let foodCarbsIdKey = `data-ft-food-carbs-id`;
            let foodKcalIdKey = `data-ft-food-kcal-id`;

            let foodsHtml = ``;
            let foodsCount = 0;
            for (let food of SearchFilter.search(Object.values(allFoods), f => f.name, search, true)) {
                if (food.is_deleted && !addingFoodMode) {
                    continue;
                }

                foodsCount++;
                if (foodsCount > MAX_ENTRIES_IN_LIST) {
                    break;
                }

                let editable = deletingFoodMode || food.is_deleted ? 'disabled' : '';

                foodsHtml += `
                <hr>
                <div class="${food.is_deleted ? 'deleted-highlight' : ''}">
                    <div class="input-group mb-2-5">
                        <input ${foodNameIdKey}=${food.id} type="text" class="form-control" value="${food.name}" ${editable}>
                        <span class="input-group-text py-025">1шт</span>
                        <input ${foodPortionSizeIdKey}=${food.id} type="text" class="form-control portion-input text-center"
                                placeholder="Вес" value="${food.portion_size ?? ''}" ${editable}>
                    </div>
                    <div class="d-flex">
                        <div class="input-group">
                          <span class="input-group-text py-025 proteins-bg">Б</span>
                          <input ${foodProteinsIdKey}=${food.id} type="text" class="form-control py-025" value="${food.proteins}" ${editable}>
                          <span class="input-group-text py-025 fats-bg">Ж</span>
                          <input ${foodFatsIdKey}=${food.id} type="text" class="form-control py-025" value="${food.fats}" ${editable}>
                          <span class="input-group-text py-025 carbs-bg">У</span>
                          <input ${foodCarbsIdKey}=${food.id} type="text" class="form-control py-025" value="${food.carbs}" ${editable}>
                          <span class="input-group-text py-025 kcal-bg">Кк</span>
                          <input ${foodKcalIdKey}=${food.id} type="text" class="form-control py-025" value="${food.kcal}" ${editable}>
                        </div>
                        <button ${foodButtonKey}=${food.id} class="btn btn-primary ms-2 py-025 ${!deletingFoodMode && !food.is_deleted ? '' : 'd-none'}" disabled>Изменить</button>
                        <button ${foodReviveButtonKey}=${food.id} class="btn btn-success opacity-65 ms-2 py-025 ${!deletingFoodMode && food.is_deleted ? '' : 'd-none'}">Вернуть</button>
                        <button ${foodDeleteButtonKey}=${food.id} class="btn btn-danger ms-2 py-025 ${deletingFoodMode ? '' : 'd-none'}">Удалить</button>
                    </div>
                </div>

                `;
            }

            byId(allFoodsId).innerHTML = foodsHtml;

            const checkEditButton = (foodId) => {
                let nameField = document.querySelector(`[${foodNameIdKey}="${foodId}"]`);
                let proteinsField = document.querySelector(`[${foodProteinsIdKey}="${foodId}"]`);
                let fatsField = document.querySelector(`[${foodFatsIdKey}="${foodId}"]`);
                let carbsField = document.querySelector(`[${foodCarbsIdKey}="${foodId}"]`);
                let kcalField = document.querySelector(`[${foodKcalIdKey}="${foodId}"]`);
                let portionSizeField = document.querySelector(`[${foodPortionSizeIdKey}="${foodId}"]`);
                let buttonField = document.querySelector(`[${foodButtonKey}="${foodId}"]`);

                let name = nameField.value.trim();
                let proteins = handleFloatField(proteinsField, 0, 100, true);
                let fats = handleFloatField(fatsField, 0, 100, true);
                let carbs = handleFloatField(carbsField, 0, 100, true);
                let kcal = handleNumberField(kcalField, 0, 999);
                let portionSize = handleNumberField(portionSizeField, 0, 9999);

                let currFood = allFoods[foodId];
                let currName = currFood.name;
                let currProteins = currFood.proteins;
                let currFats = currFood.fats;
                let currCarbs = currFood.carbs;
                let currKcal = currFood.kcal;
                let currPortionSize = currFood.portion_size;

                let allFieldsFilled = name.length && proteins != null && fats != null && carbs != null && kcal != null;
                if (!allFieldsFilled) {
                    buttonField.disabled = true;
                    return;
                }

                let anyFieldChanged = currName !== name
                    || currProteins !== proteins
                    || currFats !== fats
                    || currCarbs !== carbs
                    || currKcal !== kcal
                    || currPortionSize !== portionSize;

                buttonField.disabled = !anyFieldChanged;
            };

            for (let field of [foodNameIdKey, foodProteinsIdKey, foodFatsIdKey, foodCarbsIdKey, foodKcalIdKey, foodPortionSizeIdKey]) {
                query(`[${field}]`, e => {
                    let value = e.getAttribute(field);
                    let foodId = parseInt(value);
                    if (Number.isNaN(foodId)) {
                        return;
                    }
                    onInput(e, () => checkEditButton(foodId));
                });
            }

            query(`[${foodButtonKey}]`, e => {
                let value = e.getAttribute(foodButtonKey);

                let foodId = parseInt(value);
                if (Number.isNaN(foodId)) {
                    return;
                }

                onClick(e, async () => {
                    let name = document.querySelector(`[${foodNameIdKey}="${foodId}"]`).value.trim();
                    document.querySelector(`[${foodNameIdKey}="${foodId}"]`).value = name;

                    let proteins = document.querySelector(`[${foodProteinsIdKey}="${foodId}"]`).value;
                    let fats = document.querySelector(`[${foodFatsIdKey}="${foodId}"]`).value;
                    let carbs = document.querySelector(`[${foodCarbsIdKey}="${foodId}"]`).value;
                    let kcal = document.querySelector(`[${foodKcalIdKey}="${foodId}"]`).value;
                    let portionSize = document.querySelector(`[${foodPortionSizeIdKey}="${foodId}"]`).value;

                    let result = await _post("/api/food/edit", {
                        id: foodId,
                        name: name,
                        proteins: parseFloat(proteins),
                        fats: parseFloat(fats),
                        carbs: parseFloat(carbs),
                        kcal: parseInt(kcal),
                        portion_size: parseInt(portionSize),
                    });

                    if (result.id) {
                        allFoods[result.id] = result;
                    }

                    checkEditButton(foodId);
                });
            });

            query(`[${foodDeleteButtonKey}]`, e => {
                let value = e.getAttribute(foodDeleteButtonKey);

                let foodId = parseInt(value);
                if (Number.isNaN(foodId)) {
                    return;
                }

                onClick(e, async () => {
                    let result = await _delete("/api/food/delete", {
                        id: foodId,
                    });

                    if (result.id) {
                        allFoods[result.id] = result;
                    }

                    renderFoods();
                });
            });

            query(`[${foodReviveButtonKey}]`, e => {
                let value = e.getAttribute(foodReviveButtonKey);

                let foodId = parseInt(value);
                if (Number.isNaN(foodId)) {
                    return;
                }

                onClick(e, async () => {
                    let result = await _post("/api/food/revive", {
                        id: foodId,
                    });

                    if (result.id) {
                        allFoods[result.id] = result;
                    }

                    renderFoods();
                });
            });

        };

        const renderDishes = () => {

            let search = byId(searchDishId).value;

            let dishButtonKey = `data-ft-dish-btn-id`;
            let dishNameIdKey = `data-ft-dish-name-id`;
            let dishOutOfStockIdKey = `data-ft-dish-out-of-stock-id`;

            class Nutrients {
                constructor(proteins=0, fats=0, carbs=0, kcal=0) {
                    this.proteins = proteins;
                    this.fats = fats;
                    this.carbs = carbs;
                    this.kcal = kcal;
                }

                add(other) {
                    this.proteins += other.proteins;
                    this.fats += other.fats;
                    this.carbs += other.carbs;
                    this.kcal += other.kcal;
                    return this;
                }

                round() {
                    this.proteins = Math.round(this.proteins * 10) / 10;
                    this.fats = Math.round(this.fats * 10) / 10;
                    this.carbs = Math.round(this.carbs * 10) / 10;
                    this.kcal = Math.round(this.kcal);
                }
            }

            const calcNutrientsFromFood = (foodId, amount) => {
                let amount_per_100g = amount / 100;
                let food = allFoods[foodId];
                return new Nutrients(
                    food.proteins * amount_per_100g,
                    food.fats * amount_per_100g,
                    food.carbs * amount_per_100g,
                    food.kcal * amount_per_100g
                );
            };

            const calcNutrientsFromDish = (dishId, amount=100) => {
                let dish = allDishes[dishId];

                let amount_per_100g = amount / 100;
                let ingredients = Object.values(allDishIngredients).filter(e => e.dish_id === dish.id);
                let nutri = new Nutrients()
                if (ingredients.length === 0) {
                    return nutri;
                }
                let total_amount = 0;
                for (let i of ingredients) {
                    if (i.food_id_ingredient) {
                        nutri.add(calcNutrientsFromFood(i.food_id_ingredient, i.amount));
                        total_amount += i.amount;
                    } else if (i.dish_id_ingredient) {
                        nutri.add(calcNutrientsFromDish(i.dish_id_ingredient, i.amount));
                        total_amount += i.amount;
                    }
                }
                let total_amount_per_100g = total_amount / 100;
                return new Nutrients(
                    nutri.proteins * amount_per_100g / total_amount_per_100g,
                    nutri.fats * amount_per_100g / total_amount_per_100g,
                    nutri.carbs * amount_per_100g / total_amount_per_100g,
                    nutri.kcal * amount_per_100g / total_amount_per_100g,
                );
            };

            const getDishHtml = (dish) => {
                let nutrients = calcNutrientsFromDish(dish.id);
                nutrients.round();

                return `
                <hr>
                <div class="">
                    <div class="d-flex align-items-start">
                        <div class="input-group mb-2-5 me-2">
                            <input ${dishNameIdKey}=${dish.id} type="text" class="form-control" value="${dish.name}">
                        </div>
                        ${HtmlPresets.switch('',  '', '', !dish.out_of_stock, true, 6, `${dishOutOfStockIdKey}=${dish.id}`)}
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class="input-group">
                          <span class="input-group-text py-025 proteins-bg">Б</span>
                          <input type="text" class="form-control py-025 bg-white" value="${nutrients.proteins}" disabled>
                          <span class="input-group-text py-025 fats-bg">Ж</span>
                          <input type="text" class="form-control py-025 bg-white" value="${nutrients.fats}" disabled>
                          <span class="input-group-text py-025 carbs-bg">У</span>
                          <input type="text" class="form-control py-025 bg-white" value="${nutrients.carbs}" disabled>
                          <span class="input-group-text py-025 kcal-bg">Кк</span>
                          <input type="text" class="form-control py-025 bg-white" value="${nutrients.kcal}" disabled>
                        </div>
                        <button ${dishButtonKey}=${dish.id} class="btn btn-primary ms-2 py-025">Изменить</button>
                    </div>
                </div>
                `;
            };

            const setAllDishesHtml = () => {
                let dishesHtml = ``;

                /**
                 * @type {Dish[]}
                 */
                let sortedDishes = [];
                for (let d of Object.values(allDishes)) {
                    if (d.out_of_stock) {
                        sortedDishes.push(d);
                    }
                }
                for (let d of Object.values(allDishes)) {
                    if (!d.out_of_stock) {
                        sortedDishes.push(d);
                    }
                }

                let dishesCount = 0;
                for (let dish of SearchFilter.search(Object.values(sortedDishes), d => d.name, search, true)) {
                    dishesCount++;
                    if (dishesCount > MAX_ENTRIES_IN_LIST && dish.out_of_stock) {
                        break;
                    }

                    dishesHtml += getDishHtml(dish);
                }

                byId(allDishesId).innerHTML = dishesHtml;
            };

            setAllDishesHtml();

            const saveDish = async (dishId) => {
                let nameField = document.querySelector(`[${dishNameIdKey}="${dishId}"]`);
                let outOfStockField = document.querySelector(`[${dishOutOfStockIdKey}="${dishId}"]`);

                let name = nameField.value.trim();
                let outOfStock = !outOfStockField.checked;

                if (!name.length) {
                    return;
                }

                let result = await _post("/api/dish/edit", {
                    id: dishId,
                    name: name,
                    out_of_stock: outOfStock,
                });

                if (result.id) {
                    allDishes[result.id] = result;
                }
            };

            for (let field of [dishNameIdKey, dishOutOfStockIdKey]) {
                query(`[${field}]`, e => {
                    let value = e.getAttribute(field);
                    let dishId = parseInt(value);
                    if (Number.isNaN(dishId)) {
                        return;
                    }
                    if (field === dishNameIdKey) {
                        onInput(e, () => saveDish(dishId));
                    } else {
                        onChange(e, () => saveDish(dishId));
                    }
                });
            }

            query(`[${dishButtonKey}]`, e => {
                console.log(e)

                let value = e.getAttribute(dishButtonKey);
                let dishId = parseInt(value);
                if (Number.isNaN(dishId)) {
                    return;
                }

                onClick(e, () => {
                    hideElem(newDishTab);
                    showElem(editDishTab);
                    currentEditingDishId = dishId;
                    console.log(currentEditingDishId)
                    renderEditDish();
                });

            });

        };

        let currentEditingDishId = null;

        const deleteDishIngredientFromDishAsync = async (dishIngrId) => {
            let result = await _delete("/api/dish_ingredient/delete", {
                id: dishIngrId
            });
            if (result) {
                delete allDishIngredients[dishIngrId];
            }
            renderEditDish();
        };

        function deleteDishIngredientFromDish(dishIngrId) {
            deleteDishIngredientFromDishAsync(dishIngrId);
        }

        const renderEditDish = () => {
            if (currentEditingDishId === null) {
                return;
            }

            let dishId = currentEditingDishId;

            let currDish = allDishes[dishId];

            console.log(dishId)
            console.log(currDish)


            const renderDishIngr = (di) => {
                let name;
                if (di.food_id_ingredient) {
                    name = allFoods[di.food_id_ingredient].name;
                } else {
                    name = allDishes[di.dish_id_ingredient].name;
                }
                return `<div class='me-2 w-100 d-flex justify-content-between align-items-center'>
                        <span>${name}</span>
                        <span>${di.amount}&nbsp;гр.</span>
                        </div>`
            };



            let options = '';
            let elems = [];
            // Collect all valid foods
            for (let food of Object.values(allFoods)) {
                if (!food.is_deleted) {
                    elems.push({
                        type: 'FOOD',
                        id: food.id,
                        name: food.name,
                        last_used: food.last_used || null
                    });
                }
            }

            // Collect all valid dishes
            for (let dish of Object.values(allDishes)) {
                if (!dish.out_of_stock) {
                    elems.push({
                        type: 'DISH',
                        id: dish.id,
                        name: dish.name,
                        last_used: dish.last_used || null
                    });
                }
            }

            // Sort the elements based on your criteria
            elems.sort((a, b) => {
                if (a.last_used && b.last_used) {
                    // Both have last_used; sort by most recent date first
                    const dateDiff = new Date(b.last_used) - new Date(a.last_used);
                    if (dateDiff !== 0) {
                        return dateDiff;
                    } else {
                        // Dates are the same; compare ids in decreasing order
                        return b.id - a.id;
                    }
                } else if (a.last_used) {
                    // Only 'a' has last_used; it comes before 'b'
                    return -1;
                } else if (b.last_used) {
                    // Only 'b' has last_used; it comes before 'a'
                    return 1;
                } else {
                    // Neither has last_used; sort by id in decreasing order
                    return b.id - a.id;
                }
            });

            // Build the options string
            for (let elem of elems) {
                options += `
                <option value="${elem.type}_${elem.id}">${elem.name}</option>
                `;
            }

            /**
             * @param {DishIngredient} di
             */
            const autoSelectDishIngredient = (di) => {
                let val = '';
                if (di.dish_id_ingredient) {
                    val = `DISH_${di.dish_id_ingredient}`;
                } else if (di.food_id_ingredient) {
                    val = `FOOD_${di.food_id_ingredient}`;
                }
                $(`#${editDishFoodListSelectId}`).val(val).trigger('change');
            };


            let totalWeight = 0;

            let dishIngredients = ``;
            let position = 0;
            for (let dishIngredient of Object.values(allDishIngredients)) {
                if (dishIngredient.dish_id !== dishId) {
                    continue;
                }
                position++;

                let di = dishIngredient;
                totalWeight += di.amount;

                let ingrId = di.dish_id_ingredient
                    ? `INGREDIENT_DISH_${di.dish_id_ingredient}-${position}`
                    : `INGREDIENT_FOOD_${di.food_id_ingredient}-${position}`;
                setTimeout(() => {
                    let obj = byId(ingrId);
                    onClick(obj, () => {
                        autoSelectDishIngredient(di);
                    });
                });

                dishIngredients = `
                ${
                   HtmlPresets.makeRow(`
                    ${renderDishIngr(dishIngredient)}
                    <button class="btn btn-sm btn-danger"
                        onclick="deleteDishIngredientFromDish(${dishIngredient.id})">Удалить</button>`,
                    {fs: 6, ps: 2, id: ingrId})
                }
                ` + dishIngredients;
            }

            byId(editDishFoodListId).innerHTML = `

            <div class="d-flex align-items-start">
                <div class="input-group me-2 mb-2-5">
                   <input id="${editDishNameId}" type="text" class="form-control" placeholder="Название">
                </div>
                ${HtmlPresets.switch(editDishOutOfStockId, '', '', false, true, 6)}
            </div>

            <hr>

            <div class="d-flex">
                <div class="input-group input-group-sm h-100 flex-fill">
                    <select class="form-select" id="${editDishFoodListSelectId}">
                        <option value="" selected disabled></option>
                        ${options}
                    </select>
                    <input id="${editDishAmountInputId}" type="text"
                            class="form-control" placeholder="Кол-во"
                            style="min-width: 4rem;max-width: 4rem;">
                    <span class="input-group-text">гр.</span>
                </div>
                <button id=${editDishAddNewBtnId} class="btn btn-primary">Добавить</button>
            </div>

            ${dishIngredients ? '<hr class="mt-3 mb-1">' : ''}

            <div class="mt-2 mb-2 fs-5 d-flex justify-content-end align-items-baseline">
                <span>Вес блюда: </span><span class='fs-5 mx-1'>${totalWeight}</span><span>гр.</span></div>


            <div>${dishIngredients}</div>

            <div class="mt-2">
                ${HtmlPresets.textarea(editDishRecipeInputId, 'Рецепт')}
            </div>


            `;



            byId(editDishNameId).value = currDish.name;
            byId(editDishOutOfStockId).checked = !currDish.out_of_stock;

            const saveDish = async () => {
                let name = byId(editDishNameId).value.trim();
                let outOfStock = !byId(editDishOutOfStockId).checked;

                if (!name.length) {
                    return;
                }

                let result = await _post("/api/dish/edit", {
                    id: dishId,
                    name: name,
                    out_of_stock: outOfStock,
                });

                console.log(result);

                if (result.id) {
                    allDishes[result.id] = result;
                }
            };

            onInput(editDishNameId, saveDish);
            onChange(editDishOutOfStockId, saveDish);

            byId(editDishRecipeInputId).value = currDish.recipe;

            onInput(editDishRecipeInputId, async e => {
                let value = e.value;

                let result = await _post("/api/dish_recipe/edit" ,{
                    id: dishId,
                    recipe: value,
                });

                if (result.id) {
                    allDishes[result.id] = result;
                }
            });

            const match = (params, data) => {
                let query = params?.term ?? '';
                return SearchFilter.search([data], e => e.text, query)[0] ?? null;
            }


            $(`#${editDishFoodListSelectId}`).select2({
                theme: 'bootstrap-5',
                placeholder: "Выбрать пищу",
                dropdownParent: $(`#${editFoodModal.modalId}`),
                matcher: match,
            });

            fixSelect2(true);

            onInput(editDishAmountInputId, e => {
                handleNumberField(e, 0, 9999, true, null, true);
            });

            onClick(editDishAddNewBtnId, async e => {
                let foodIdIngredient = null;
                let dishIdIngredient = null;

                let chosenMeal = byId(editDishFoodListSelectId).value;
                if (!chosenMeal) {
                    return;
                }

                if (chosenMeal.startsWith("FOOD_")) {
                    foodIdIngredient = parseInt(chosenMeal.substring(5));
                } else if (chosenMeal.startsWith("DISH_")) {
                    dishIdIngredient = parseInt(chosenMeal.substring(5));
                }

                if (foodIdIngredient == null && dishIdIngredient == null) {
                    return;
                }

                let chosenAmount = handleNumberField(editDishAmountInputId, 0, 9999, true, null, true);
                if (chosenAmount == null) {
                    return;
                }

                let result = await _post("/api/dish_ingredient/new" ,{
                    food_id_ingredient: foodIdIngredient,
                    dish_id_ingredient: dishIdIngredient,
                    dish_id: dishId,
                    amount: chosenAmount,
                });

                if (result.id) {
                    allDishIngredients[result.id] = result;
                }

                renderEditDish();
            });

        };
    }


</script>
